<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Users - DNS Discover Service</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <script src="../js/angular.min.js"></script>
    <!--<script src="../js/angular-resource.min.js"></script>-->
    <!--<script src="../js/angular-route.min.js"></script>-->
    <script src="../js/checklist-model.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/service.js"></script>
    <script src="../app/controller.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="myApp" class="ng-cloak">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">DNS Discover Service</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="settings.html">Settings</a></li>
                    <li><a href="help.html">Help</a></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" ng-controller="ProjectsController as pctrl">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li class="active"><a href="projects.html">Projects <span class="sr-only">(current)</span></a></li>
                    <li><a href="records.html">Records</a></li>
                    <li><a href="users.html">Users</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="row">
                    <h1 class="page-header">Edit project</h1>
                    <form ng-submit="pctrl.submit()" name="myForm" class="form-horizontal">
                        <div class="col-md-5">
                            <h2>General</h2>
                            <div class="form-group">
                                <label class="control-label" for="name">Project name</label>
                                <input type="text" ng-model="pctrl.project.name" id="name" name="name" class="username form-control input-sm" placeholder="Enter your project name" required ng-minlength="3"/>
                                <div class="has-error" ng-show="myForm.$dirty">
                                    <span ng-show="myForm.name.$error.required">This is a required field</span>
                                    <span ng-show="myForm.name.$error.minlength">Minimum length required is 3</span>
                                    <span ng-show="myForm.name.$invalid">This field is invalid </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" name="description" id="description" class="form-control" ng-model="pctrl.project.description" placeholder="Description">
                                <div class="has-error" ng-show="myForm.$dirty">
                                    <span ng-show="myForm.description.$error.required">This is a required field</span>
                                    <span ng-show="myForm.description.$error.minlength">Minimum length required is 3</span>
                                    <span ng-show="myForm.description.$invalid">This field is invalid </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" ng-controller="UserController as ctrl">
                            <h2>Add users to project</h2>
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th><!-- --></th>
                                            <th>User</th>
                                            <th>Role</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div style="overflow-y:auto; height: 170px;">
                                        <table class="table">
                                            <tbody ng-repeat="user in ctrl.users">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" checklist-model="pctrl.participation" checklist-value="user.id">
                                                </td>
                                                <td><span ng-bind="user.name"></span></td>
                                                <td>
                                                    <select class="form-control" id="role1" name="role">
                                                    </select>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-actions floatRight">
                                    <a href="projects.html" ng-click="pctrl.submit()" ng-disabled="myForm.$invalid" class="btn btn-primary btn-sm"><span class="glyphicons glyphicon glyphicon-plus" aria-hidden="true"></span> New project</a>
                                    <button type="button" ng-click="pctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>